/* Import the fonts used */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Basic Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom  properties */
:root {
    --white-color: #fff;
}

/* Global Styles */
html {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: var(--white-color);
    background: url('../../images/cover.png') no-repeat center center fixed;
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Hero Section */

.hero {
    width: 100%;
    /* height: 100vh; */
    /* background-image: url('./svg/cover.svg'); */
    
    z-index: 0;
}

/* Header Styles - nav */

nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    background-color: rgba(17, 52, 70, .53);
    border: 0.1rem solid rgba(53, 81, 93, 1);
    border-radius: 2.9rem;
    margin: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem; 
    font-size: 1.6rem;
}

.nav-item-img {
    width: 1.9rem;
    height: 1.2rem;
    margin-right: .7rem;
}

/* Main Menu */

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text > p {
    margin-top: 15.5rem;
    font-size: 3rem;
    font-weight: normal;
}

.title-text > h1 {
    margin-top: 1.5rem;
    font-size: 10.5rem;
}

.menu-options {
    margin-top: 3.9rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    border-radius: 2rem;
    background: url('../../svg/flex-item-background.svg') no-repeat center;
    width: 25rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    font-size: 2.8rem;
    cursor: pointer;
}

.image-wrapper {
    width: 13.7rem;
    height: 13.7rem;
    border: 0.4rem solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    border: none;
}

.flex-item-title {
    /* font-size: 3.2rem; */
    color: rgba(255, 255, 255, .5);
}

.last-item {
    background: url('../../svg/getting-started-bg.svg') no-repeat center;
}


/* For desktops: 1025px to 1200px */
@media screen and (max-width: 1200px) {
    .title-text > p {
        font-size: 2.5rem;
    }

    .title-text > h1 {
        font-size: 10.5rem;
    }

    .menu-options {
        margin-top: 3.9rem;
    }

    .flex-item {
        width: 23rem;
        height: 30rem;
        font-size: 2.8rem;
    }
}

/* For laptops: 769px to 1024px */
@media screen and (max-width: 1024px) {
    .title-text > p {
        /* margin-top: 15.5rem; */
        font-size: 2.5rem;
    }

    .title-text > h1 {
        font-size: 10.5rem;
    }

    .menu-options {
        margin-top: 2.9rem;
    }

    .flex-item {
        width: 20rem;
        height: 27rem;
        font-size: 2.5rem;
    }

    .image-wrapper {
        width: 9.7rem;
        height: 9.7rem;
    }
}

/* For less than 900 */

@media screen and (max-width: 900px) {
    /* .hero {
        height: 120vh;
    } */

    /* Nav Section */
    .nav-item-img {
        margin-right: .5rem;
    }
    
    /* Menu Section */
    .title-text > p {
        /* margin-top: 15.5rem; */
        font-size: 2.5rem;
    }

    .title-text > h1 {
        font-size: 9.5rem;
    }

    .menu-options {
        margin-top: 1.9rem;
    }

    .flex-item {
        width: 17rem;
        height: 25rem;
        font-size: 2rem;
    }

    .image-wrapper {
        width: 7.7rem;
        height: 7.7rem;
    }

    .svg-image {
        width: 40%;
    }
}

/* For Mobile: less than 700px */

@media screen and (max-width: 700px) {
    .hero {
        height: auto;
    }

    /* Navbar */
    .logo {
        width: 75%;
        /* font-size: 10%; */
    }

    .nav-item {
        margin: .2rem;
        border-radius: 29px;
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1.2rem;
    }

    /* Menu Section */
    .title-text > p {
        font-size: 2rem;
    }

    .title-text > h1 {
        font-size: 7.5rem;
    }

    .menu-options {
        margin-top: 3rem;
    }

    .flex {
        flex-direction: column-reverse;
    }

    .flex-item {
        width: 23rem;
        height: 31rem;
        font-size: 2.6rem;
        border-radius: 4rem;
        margin: 0 auto;
        margin: 1rem;
    }

    .image-wrapper {
        width: 11.7rem;
        height: 11.7rem;
    }

    .first-item {
        margin-bottom: 10rem;
    }
}

/* For Mobile: less than 480px */

@media screen and (max-width: 480px) {
    .hero {
        height: auto;
    }

    /* Navbar */
    .nav-item-img {
        padding-top: .2rem;
        width: 1rem;
        height: 1rem;
        margin-right: .1rem;
    }

    .nav-item {
        margin: .2rem;
        border-radius: 29px;
        padding: 0.2rem 1rem 0.5rem 1rem;
        font-size: 1.6rem;
    }

    .nav-item-title {
        font-size: 50%;
    }

    /* Menu Section */
    .title-text > p {
        font-size: 1.6rem;
    }

    .title-text > h1 {
        font-size: 5.5rem;
    }

    .menu-options {
        margin-top: 3rem;
    }

    .flex {
        flex-direction: column-reverse;
    }

    .flex-item {
        width: 21rem;
        height: 30rem;
        font-size: 2.2rem;
        margin: 1rem;
    }

    .image-wrapper {
        width: 10.7rem;
        height: 10.7rem;
    }

    .first-item {
        margin-bottom: 3rem;
    }
}

